<div class="container">
        <div class="center">
            <div>
    
                <p style="font-size: xx-large; color:white" text-align="center">
                    Sign up
                </p>
                <h1>you are regestring yourself</h1>
                <p><input type="text" ng-model="ctrl.name" placeholder="Name"></input></p>
                <p><input type="text" ng-model="ctrl.email" placeholder="E-mail"></input></p>
                <p><input type="password" ng-model="ctrl.password" placeholder="Password"></input></p>
                <p><input type="password" ng-model="ctrl.confirmPassword" placeholder="Confirm Password"></input></p>
                <div class="p-notification--negative" ng-show="ctrl.password!=ctrl.confirmPassword">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Password you entered don't match
                    </p>
                </div>
                <p text-align="center"><button ng-click="ctrl.addUser(ctrl.name,ctrl.email,ctrl.password)">Sign-up</button></p>
                <p>{{ctrl.output}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>